.care-top {
  margin-top: 95px;
}
.care-measurements {
  display: flex;
  justify-content: space-around;
  /* margin-top: 20px; */
}
.care-heading {
  padding-left: 30px;
}
.care-heading h1 {
  max-width: 452px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 20px;

  /* font */

  color: #081323;
}
.care-heading span {
  width: 447px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  /* Gray 2 */

  color: #4f4f4f;
}

.care-outlines {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.care-text h3 {
  max-width: 235px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  color: #000000;
}
.care-text p {
  max-width: 493px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #4f4f4f;
}

.care-items {
  margin-top: 50px;
}

.care-outlines img {
  max-width: 50px;
}

/* media Queries */

@media screen and (max-width: 1300px) {
  .care-measurements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
  }
  .care-heading {
    text-align: center;
  }
  .care-img img {
    width: 100%;
  }
  .care-heading h1 {
    font-size: 20px;
    line-height: 2;
    font-weight: 600;
  }
  .care-heading span {
    font-size: 15px;
    font-weight: 400;
  }
  .care-text h3 {
    font-size: 20px;
  }
  .care-text p {
    font-size: 15px;
  }
  .care-outlines img {
    width: 30px;
  }
}
